
        <a class="navbar-brand text-light mx-4" routerLink = '' >
                <img src = 'http://4lefts.com/img/ftlogo_cheetah.png' width="30" height="30" class="d-inline-block align-top" alt="">
                GUIX
        </a>
        <nav class="navbar navbar-expand-lg navbar-light float-right ">
                <div class="collapse navbar-collapse  " id="navbarNav">
                  <ul class="navbar-nav ">
                    <li class="nav-item active">
                      <a class="nav-link text-light" routerLink = 'about' >about</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" routerLink = 'featured' >featured</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" routerLink = 'portfolio' >portfolio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light" routerLink = 'blog'>blog</a>
                    </li>
                  </ul>
                </div>
        </nav>
        <div class="jumbotron jumbotron-fluid bg-dark text-light">
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <h1 class="display-4"> <strong>Crafting UX</strong></h1>
                                <p class="lead" >Creating amazing user experience..</p>
                            </div>
                            <div class="col-md-4">
                                    <img src="https://img00.deviantart.net/915d/i/2017/086/1/f/wolf_logo_by_justdate-db3qboz.png" style=" width:auto ; height: 200px;">
                            </div>
                            <div class="col-md-4 text-center">
                                <h1 class="display-4"> <strong>Crafting UI</strong></h1>
                                <p class="lead">Creating amazing user interface..</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div> 
        <div class="container"> 
            <div class="row">
                 <div class=" col-md-8 offset-2 text-light">
                   <router-outlet></router-outlet>
                   <a (click) = "user()">Link to the home user</a>
                 </div>
            </div>
        </div>


